<ion-view>
    <ion-header-bar class="bar-dark">
        <button ng-hide="tempLogin" type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <button ng-hide="tempLogin" class="button button-icon stable" ng-click="notifications()">
            <i class="icon ion-android-notifications"></i>
            <span class="badge badge-assertive">{{notifictionsCounter ||0}}</span>
        </button>
        <i class=" icon ion-wifi" ng-class="{'disconnected' : internetStatus == 'disconnected'}"></i>
        <i class=" icon ion-ios-location " ng-class="{'inactive' : locationService == 'inactive'}"></i>
        
        <div class="pull-right floatRight" ng-click="openmyaccount()">
            <img ng-src="{{globalUserPhoto || 'images/unknown.png'}}" class="circle" /><span>{{globalUserName || "UserName"}}</span>

        </div>
        <button ng-hide="tempLogin" class="button button-icon icon ion-ios-keypad pull-right floatRight" ng-click="showSubMenu()"></button>

    </ion-header-bar>
    
    <ion-content class="shiftViewPage" overflow-scroll="true" padding="true">
        <div class="dvTxtHeaderContainer text-center" >
            <h3>Shift Details</h3>
        </div>

        <!--<div class="text-center">
            <span class="errorFont">{{errorMSG}}</span>
        </div>-->

        <div class="card smallMargin">
            <div class="item item-text-wrap row row-center padding">
                <span class="col">Date</span>
                <span class="text-right col col-66 bluefont">{{startDate | date:'MMM d, y'}}</span>
            </div>
        </div>
        <div class="card">
            <div class="list">
                <div class="item item-text-wrap row row-center padding">
                    <span class="col">Start time</span>
                    <span class="text-right col-66 col bluefont">{{startDate | date:'hh:mm a'}}</span>
                </div>
                <div class="item item-text-wrap row row-center padding">
                    <span class="col">End time</span>
                    <span class="text-right col-66 col bluefont">{{endDate  | date:'hh:mm a'}}</span>
                </div>
                <div class="item item-text-wrap row row-center padding">
                    <span class="col">Break (Duration)</span>
                    <span class="text-right col-50 col bluefont">{{shiftBreak || '00:00'}}</span>
                </div>
            </div>
        </div>
        <div class="card smallMargin">
            <div class="item item-text-wrap row row-center padding">
                <span class="col">Site</span>
                <span class="text-right col-66 col bluefont">{{shiftSite}}</span>
            </div>
        </div>

        <div class="card smallMargin">
            <div class="item item-text-wrap padding">
                <div class="row row-center">
                    <span class="col"><span class="ion-location icon bluefont"></span> Address</span>
                    <span class="text-right col col-66 bluefont txtShiftAddress" ng-click="viewMap()">{{shiftaddress}}</span>
                </div>
                <div class="row row-center">
                    <span class="col">Suburb</span>
                    <span class="text-right col col-66 bluefont">{{suburb}}</span>
                </div>
                <div class="row row-center">
                    <span class="col">Postal Code</span>
                    <span class="text-right col col-66 bluefont">{{postalCode}}</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap row row-top padding">
                <span class="col">Shift Notes</span>
                <label class="item item-input noborder col-66">
                    <textarea rows="5" class="col" ng-disabled="!notesEnabled"
                              ng-model="shiftNotes"
                              ng-model-options="{ updateOn: 'blur' }"
                              ng-change="updateNotes(shiftNotes)">
                    </textarea>
                </label>
            </div>
        </div>

        <div ng-show="clockOut" ng-hide="!clockOut">
            <button class="button button-balanced button-block" ng-hide="breakOut == true" ng-click="takeBreak()">
                <span>&nbsp;Break Start</span>
            </button>
            <button class="button button-block button-assertive" ng-show="breakOut" ng-click="finishBreak()" ng-class="{'button-assertive' : breakDurationEnd == true}">
                <span>&nbsp;End Break (<span>{{minutes}} : {{seconds}}</span>)</span>
            </button>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-dark">
        <div class="button-bar">
            <button ng-hide="tempLogin" class="button button-clear ion-ios-close-outline" ng-click="goBack()">
                <span>&nbsp;Cancel</span>
            </button>
            <button ng-show="tempLogin" class="button button-clear ion-log-out" ng-click="logout()">
                <span>&nbsp;Logout</span>
            </button>
            <button class="button button-clear ion-ios-stopwatch-outline lastButton" ng-hide="clockOut" ng-click="showConfirmIn()">
                <span>&nbsp;Clock in</span>
            </button>
            <button class="button button-clear ion-ios-stopwatch-outline lastButton" ng-show="clockOut" ng-click="showConfirmOut()" ng-disabled="breakOut">
                <span>&nbsp;Clock out</span>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
