<ion-header-bar class="bar-dark">
    <button type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <i class=" icon ion-wifi"></i>
    <i class=" icon ion-ios-location inactive"></i>
    <div class="pull-right floatRight">
        <img ng-src="images/unknown.png" class="circle" ng-click="openmyaccount()" /><span ng-click="openmyaccount()">Amir Aly</span>
        <button class="button button-icon icon ion-ios-keypad" ng-click="showSubMenu()"></button>
    </div>
</ion-header-bar>

<ion-view name="calendar-view">
    <ion-content class="padding calendarPage">
            <flex-calendar options="options" events="events"></flex-calendar>
            <div class="card" ng-show="showDetails">
                <div class="item item-text-wrap text-center">
                    <h1>08:00 - 09:00</h1>
                    <h2>Next Shift : King Street, Sydney</h2>
                </div>
            </div>
            <div ng-show="showlistCards">
                <div class="list card">

                    <div class="item item-text-wrap text-center">
                        <h1>08:00 - 09:00</h1>
                        <h2>Next Shift : Grosvenor Street, Sydney</h2>
                    </div>

                    <div class="item item-text-wrap text-center">
                        <h1>10:00 - 12:00</h1>
                        <h2>Next Shift : Stanley Street, East Sydney</h2>
                    </div>

                    <div class="item item-text-wrap text-center">
                        <h1>14:00 - 16:00</h1>
                        <h2>Next Shift : Crown Street, Sydney</h2>
                    </div>

                </div>
            </div>
    </ion-content>
</ion-view>

