<ion-view>
    <ion-header-bar class="bar-dark">
        <button type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <button class="button button-icon stable" ng-click="notifications()">
            <i class="icon ion-android-notifications"></i>
            <span class="badge badge-assertive">{{notifictionsCounter}}</span>
        </button>
        <i class=" icon ion-wifi"></i>
        <i class=" icon ion-ios-location inactive"></i>
        <div class="pull-right floatRight">
            <img ng-src="{{globalUserPhoto}}" class="circle" ng-click="openmyaccount()" /><span ng-click="openmyaccount()">{{globalUserName}}</span>
            <button class="button button-icon icon ion-ios-keypad" ng-click="showSubMenu()"></button>
        </div>
    </ion-header-bar>
    
    <ion-content class="challengePage " overflow-scroll="true" padding="true">
        <div class="padding row row-center">
            <div class="col-50 col-offset-25">
                <div class="card basicColorDv"></div>
            </div>
        </div>
        <h3 class="text-center">Click on same color</h3>
        <div class="padding-horizontal">
            <div class="padding row row-center">
                <div class="col-20" ng-click="rightAnswer()">
                    <div class="card firstColorDv"></div>
                </div>
                <div class="col-20 col-offset-20">
                    <div class="card secondColorDv"></div>
                </div>
                <div class="col-20 col-offset-20">
                    <div class="card thirdColorDv"></div>
                </div>
            </div>
        </div>
        <h1 ng-bind="counter" data-ng-init="countdown()" class="text-center"></h1>
    </ion-content>
</ion-view>