<ion-view>
    <ion-header-bar class="bar-dark">
        <!--<button type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <button class="button button-icon stable" ng-click="notifications()">
            <i class="icon ion-android-notifications"></i>
            <span class="badge badge-assertive">{{notifictionsCounter ||0}}</span>
        </button>-->
        <i class=" icon ion-wifi" ng-class="{'disconnected' : internetStatus == 'disconnected'}"></i>
        <i class=" icon ion-ios-location " ng-class="{'inactive' : locationService == 'inactive'}"></i>
        
        <!--<div class="pull-right floatRight" ng-click="openmyaccount()">
            <img ng-src="{{globalUserPhoto || 'images/unknown.png'}}" class="circle" /><span>{{globalUserName || "UserName"}}</span>

        </div>
        <button class="button button-icon icon ion-ios-keypad pull-right floatRight" ng-click="showSubMenu()"></button>-->

    </ion-header-bar>
    
    <ion-content class="challengePage " overflow-scroll="true" padding="true">

        <div class="padding-horizontal row row-center">
            <div class="col">
                <div class="text-center">
                    <img ng-src="{{question.photo}}" />
                </div>
            </div>
        </div>

        <h4 class="text-center">{{question.question}}</h4>
        <div class="row row-center">
                <div class="col">
                    <div ng-click="answer(question.choise1)" class="card text-center txtChoices" style="color:{{question.choise1}}">
                        {{question.choise1}}
                    </div>
                </div>
                <div class="col">
                    <div ng-click="answer(question.choise2)" class="card text-center txtChoices" style="color:{{question.choise2}}">
                        {{question.choise2}}
                    </div>
                </div>
                <div class="col">
                    <div ng-click="answer(question.choise3)" class="card text-center txtChoices" style="color:{{question.choise3}}">
                        {{question.choise3}}
                    </div>
                </div>
                <div class="col">
                    <div ng-click="answer(question.choise4)" class="card text-center txtChoices" style="color:{{question.choise4}}">
                        {{question.choise4}}
                    </div>
                </div>
            </div>
        <h1 ng-bind="counter" animate-on-change="counter" data-ng-init="countdown()" class="text-center"></h1>
        <div class="spacer"></div>
    </ion-content>
</ion-view>