<ion-view>
    <ion-header-bar class="bar-dark">
        <button type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <button class="button button-icon stable" ng-click="notifications()">
            <i class="icon ion-android-notifications"></i>
            <span class="badge badge-assertive">3</span>
        </button>
        <i class=" icon ion-wifi"></i>
        <i class=" icon ion-ios-location inactive"></i>
        <div class="pull-right floatRight">
            <img ng-src="images/unknown.png" class="circle" ng-click="openmyaccount()" /><span ng-click="openmyaccount()">Amir Aly</span>
            <button class="button button-icon icon ion-ios-keypad" ng-click="showSubMenu()"></button>
        </div>
    </ion-header-bar>
    
    <form name="frmUpdatePassword" novalidate ng-submit="updateAccount(frmUpdatePassword)">
        <ion-content class="supervisorAccountPage" overflow-scroll="true" padding="true">

            <div class="padding-horizontal">
                <ion-list class="list listInputs padding">

                    <label class="item  padding">
                        <i class="icon ion-ios-locked placeholder-icon"></i>
                        <input ng-model="oldPassword" type="password" required placeholder="Old Password" name="txtOldPassword" id="txtOldPassword">
                        <span ng-show="frmUpdatePassword.txtOldPassword.$dirty && frmUpdatePassword.txtOldPassword.$invalid">
                            <span class="errorFont" ng-show="frmUpdatePassword.txtOldPassword.$error.required">required</span>
                        </span>
                    </label>

                    <label class="item  padding">
                        <i class="icon ion-ios-locked placeholder-icon"></i>
                        <input ng-model="password" type="password" required placeholder="New Password" name="txtPassword" id="txtPassword">
                        <span ng-show="frmUpdatePassword.txtPassword.$dirty && frmUpdatePassword.txtPassword.$invalid">
                            <span class="errorFont" ng-show="frmUpdatePassword.txtPassword.$error.required">required</span>
                        </span>
                    </label>

                    <label class="item  padding">
                        <i class="icon ion-ios-locked placeholder-icon"></i>
                        <input ng-model="confirm" type="password" required placeholder="Confirm New Password" name="txtConfirm" id="txtConfirm">
                        <span ng-show="frmUpdatePassword.txtConfirm.$dirty && frmUpdatePassword.txtConfirm.$invalid">
                            <span class="errorFont" ng-show="frmUpdatePassword.txtConfirm.$error.required">required</span>
                        </span>
                    </label>

                    <div class="padding">
                        <button type="submit" class="button button-block button-positive" ng-disabled="frmUpdatePassword.$invalid">
                            Change Password
                        </button>
                    </div>
                </ion-list>
            </div>
            <div class="spacer"></div>
        </ion-content>

        <ion-footer-bar class="bar-dark">
            <div class="button-bar">
                <button class="button button-clear ion-ios-close-outline" type="reset" ng-click="cancel()">&nbsp;Cancel</button>
                <button class="button button-clear ion-android-checkmark-circle" type="submit" ng-disabled="frmUpdatePassword.$invalid">&nbsp;Update Password</button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>