<ion-view>
    <ion-header-bar class="bar-dark">
        <button type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <button class="button button-icon stable" ng-click="notifications()">
            <i class="icon ion-android-notifications"></i>
            <span class="badge badge-assertive">{{notifictionsCounter ||0}}</span>
        </button>
        <i class=" icon ion-wifi" ng-class="{'disconnected' : internetStatus == 'disconnected'}"></i>
        <i class=" icon ion-ios-location inactive"></i>
        <div class="pull-right floatRight" ng-click="openmyaccount()">
            <img ng-src="{{globalUserPhoto || 'images/unknown.png'}}" class="circle" /><span>{{globalUserName || "UserName"}}</span>

        </div>
        <button class="button button-icon icon ion-ios-keypad pull-right floatRight" ng-click="showSubMenu()"></button>

    </ion-header-bar>

    <form name="frmUpdatePassword" novalidate ng-submit="updatePassword(frmUpdatePassword)">
        <ion-content class="supervisorAccountPage" overflow-scroll="true" padding="true">

            <div class="padding-horizontal">
                <ion-list class="list listInputs padding">

                    <label class="item  padding">
                        <i class="icon ion-ios-locked placeholder-icon"></i>
                        <input minlength="6" maxlength="100" ng-model="userData.CurrentPassword" type="password" required placeholder="Current Password" name="txtCurrentPassword" id="txtCurrentPassword">
                        <span ng-show="frmUpdatePassword.txtCurrentPassword.$touched && frmUpdatePassword.txtCurrentPassword.$invalid">
                            <span class="errorFont" ng-show="frmUpdatePassword.txtCurrentPassword.$error.required">required</span>
                            <span class="errorFont" ng-show="frmUpdatePassword.txtCurrentPassword.$error.minlength">at least 6 characters long.</span>
                        </span>
                    </label>

                    <label class="item  padding">
                        <i class="icon ion-ios-locked placeholder-icon"></i>
                        <input minlength="6" maxlength="100" ng-model="userData.password" type="password" required placeholder="New Password" name="txtPassword" id="txtPassword">
                        <span ng-show="frmUpdatePassword.txtPassword.$touched && frmUpdatePassword.txtPassword.$invalid">
                            <span class="errorFont" ng-show="frmUpdatePassword.txtPassword.$error.required">required</span>
                            <span class="errorFont" ng-show="frmUpdatePassword.txtPassword.$error.minlength">at least 6 characters long.</span>
                        </span>
                    </label>

                    <label class="item  padding">
                        <i class="icon ion-ios-locked placeholder-icon"></i>
                        <input minlength="6" maxlength="100" ng-model="userData.confirm" compare-to="userData.password" type="password" required placeholder="Confirm New Password" name="txtConfirm" id="txtConfirm">
                        <span ng-show="frmUpdatePassword.txtConfirm.$touched && frmUpdatePassword.txtConfirm.$invalid">
                            <span class="errorFont" ng-show="frmUpdatePassword.txtConfirm.$error.compareTo ||frmUpdatePassword.txtConfirm.$error.required">Passwords must match.</span>
                        </span>
                    </label>

                    <div class="errorFont padding-horizontal" ng-show="afterSubmitError">{{afterSubmitErrorTxt}}</div>

                    <div class="padding">
                        
                        <div class="button-bar">
                            <button type="reset" class="button button-stable" ng-click="cancel()">
                                <span>Cancel</span>
                            </button>
                            <button type="submit" class="button button-positive" ng-disabled="frmUpdatePassword.$invalid">
                                <span>Submit</span>
                            </button>
                        </div>
                    </div>
                </ion-list>
            </div>
            <div class="spacer"></div>

        </ion-content>

        <!--<ion-footer-bar class="bar-dark">
            <div class="button-bar">
                <button class="button button-clear ion-ios-close-outline" type="button" ng-click="cancel()">
                    <span>&nbsp;Cancel</span>
                </button>
                <button class="button button-clear ion-android-checkmark-circle" type="submit" ng-disabled="frmUpdatePassword.$invalid">
                    <span>&nbsp;Update Password</span>
                </button>
            </div>
        </ion-footer-bar>-->
    </form>
</ion-view>

