<div ng-show="showME==event.dayid">
    <div class="list listSchedule">
        <div class="item row">
            <div class="col col-25">
                <h6>{{event.from}}</h6>
                <h6>{{event.to}}</h6>
            </div>
            <div class="col col-75">
                <div class="dvWorkingHours">
                    <h4>{{event.duration}}</h4>
                    <h5>hours</h5>
                </div>
                <h6>{{event.area}}</h6>
                <p>{{event.address}}</p>
            </div>
        </div>
    </div>
</div>

<!--<div class="list listSchedule">
    <div class="item item-divider">
        <span class="ion-ios-clock-outline"></span> Schedule
        <p class="pull-right">
            Friday, April 8, 2016
        </p>
    </div>

    <div class="item row">
        <div class="col col-25">
            <h6>12:00 PM</h6>
            <h6>03:00 PM</h6>
        </div>
        <div class="col col-75">
            <div class="dvWorkingHours">
                <h4>3:78</h4>
                <h5>hours</h5>
            </div>
            <h6>Bondi Station</h6>
            <p>35 Hunter St. Condell Park , NSW 2200</p>
        </div>
    </div>

    <div class="item row">
        <div class="col col-25">
            <h6>08:00 PM</h6>
            <h6>10:30 PM</h6>
        </div>
        <div class="col col-75">
            <div class="dvWorkingHours">
                <h4>3:78</h4>
                <h5>hours</h5>
            </div>
            <h6>Sydney Port</h6>
            <p>100 Port St. Mascot , NSW 2200</p>
        </div>
    </div>


</div>-->