<div ng-show="showME==event.dayid">
    <div class="list listSchedule">
        <div class="item row">
            <div class="col col-25">
                <h6>{{event.from}}</h6>
                <h6>{{event.to}}</h6>
            </div>
            <div class="col col-75">
                <div class="dvWorkingHours">
                    <h4>{{event.duration}}</h4>
                    <h5>hours</h5>
                </div>
                <h6>{{event.area}}</h6>
                <p>{{event.address}}</p>
            </div>
        </div>
    </div>
</div>