<ion-view>
    <ion-header-bar class="bar-dark">
        <button type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <button class="button button-icon stable" ng-click="notifications()">
            <i class="icon ion-android-notifications"></i>
            <span class="badge badge-assertive">{{notifictionsCounter}}</span>
        </button>
        <i class=" icon ion-wifi"></i>
        <i class=" icon ion-ios-location inactive"></i>
        <div class="pull-right floatRight">
            <img ng-src="{{globalUserPhoto}}" class="circle" ng-click="openmyaccount()" /><span ng-click="openmyaccount()">{{globalUserName}}</span>
            <button class="button button-icon icon ion-ios-keypad" ng-click="showSubMenu()"></button>
        </div>
    </ion-header-bar>

    <ion-content class="dashboardPage " overflow-scroll="true" padding="true">

        <!--My Totals-->
        <h3>My Totals</h3>
        
        <div class="list listSchedule">
            <div class="item item-divider">
                <span class="ion-ios-clock-outline"></span> Schedule
                <p class="pull-right">
                    Friday, April 8, 2016
                </p>
            </div>

            <div class="item row">
                <div class="col col-25">
                    <h6>12:00 PM</h6>
                    <h6>03:00 PM</h6>
                </div>
                <div class="col col-75">
                    <div class="dvWorkingHours">
                        <h4>3:78</h4>
                        <h5>hours</h5>
                    </div>
                    <h6>Bondi Station</h6>
                    <p>35 Hunter St. Condell Park , NSW 2200</p>
                </div>
            </div>

            <div class="item row">
                <div class="col col-25">
                    <h6>08:00 PM</h6>
                    <h6>10:30 PM</h6>
                </div>
                <div class="col col-75">
                    <div class="dvWorkingHours">
                        <h4>3:78</h4>
                        <h5>hours</h5>
                    </div>
                    <h6>Sydney Port</h6>
                    <p>100 Port St. Mascot , NSW 2200</p>
                </div>
            </div>
        </div>

        <!--Current Week-->
        <h3>Current Week</h3>
        <div class="text-center padding">
            <span>Mon 15 Apr - Sun 21 Apr 2016</span>
        </div>

        <!--first table-->
        <div class="list listSchedule">
            <div class="item item-divider">
                Scheduled HRS
            </div>
            <div class="item">
                Total Shift Scheduled
                <span class="item-note">
                    5
                </span>
            </div>
            <div class="item">
                Total Hours Scheduled
                <span class="item-note">
                    45.45
                </span>
            </div>
        </div>

        <!--Second table-->
        <div class="list listSchedule">
            <div class="item item-divider">
                <!--<img src="images/schedule2.jpg" />-->
                 Shift Clocked/Worked
            </div>
            <div class="item">
                Total Shifts Worked/Clocked
                <span class="item-note">
                    3
                </span>
            </div>
            <div class="item">
                No Show
                <span class="item-note">
                    0
                </span>
            </div>
            <div class="item">
                Late Arrival
                <span class="item-note fontRed">
                    1
                </span>
            </div>
            <div class="item">
                Early Leave
                <span class="item-note">
                    0
                </span>
            </div>
            <div class="item">
                Missing Clock out
                <span class="item-note fontRed">
                    1
                </span>
            </div>
        </div>


        <div class="spacer"></div>
    </ion-content>
</ion-view>