<ion-view view-title="Tabs" class="homePage">

    <ion-header-bar class="bar-dark">
        <button type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <button class="button button-icon stable" ng-click="notifications()">
            <i class="icon ion-android-notifications"></i>
            <span class="badge badge-assertive">3</span>
        </button>
        <i class=" icon ion-wifi"></i>
        <i class=" icon ion-ios-location inactive"></i>
        <div class="pull-right floatRight">
            <img ng-src="images/unknown.png" class="circle" ng-click="openmyaccount()" /><span ng-click="openmyaccount()">Amir Aly</span>
            <a class="button button-icon icon ion-ios-keypad" ng-click="showSubMenu()"></a>
        </div>
    </ion-header-bar>
    
    <ion-pane>
        <div class="has-header has-footer">
            <ion-tabs class="tabs-background-calm tabs-color-light tabs-icon-top ">

                <!-- Tab 1 -->
                <ion-tab title="Daily" icon-on="ion-ios-time" icon-off="ion-ios-time-outline" on-select="getshifts()">
                    <ion-nav-view name="tab-tab1">
                        <ion-content overflow-scroll="true" padding="true" class="calendarView ">
                            <div class="padding-top">
                                <h3 class="text-center">Today</h3>
                                <h4 class="text-center">{{todayDate}}</h4>
                            </div>
                            <!--no schedual today part-->
                            <div class=" text-center" ng-show="!todayShiftsArray.length">
                                <img src="images/noshift.png" />
                                <div class="padding">
                                    <button class="button button-block button-positive" ng-click="showMap()">Start Unscheduled Shift</button>
                                </div>
                                <div class="row" ng-show="mapView==true">
                                    <div class="col card padding text-center">
                                        <div id="map"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- today shifts part-->
                            <div class="list padding" ng-show="todayShiftsArray.length">
                                <div ng-repeat="event in todayShiftsArray">
                                    <div class="item item-text-wrap text-center">
                                        <div ng-include="'templates/todayshift.temp.html'"></div>
                                    </div>
                                </div>
                                <button ng-click="showClockInConfirmation()" class="button button-block button-positive icon ion-android-stopwatch">
                                    <span>&nbsp;Clock-In</span>
                                </button>
                            </div>

                            <div class="spacer"></div>
                            <ion-spinner icon="spiral" class="spinner-energized"></ion-spinner>
                        </ion-content>
                    </ion-nav-view>
                </ion-tab>

                <!-- Tab 2 -->
                <ion-tab title="Weekly Time cards" icon-on="ion-android-calendar" icon-off="ion-android-calendar">
                    <ion-nav-view name="tab-tab2">
                        <ion-content overflow-scroll="true" padding="true" >
                            <div class="row row-center">
                                <div class="col col-10">
                                    <a class="button button-icon icon ion-arrow-left-b"></a>
                                </div>
                                <div class="col col-80" >
                                    <div class="padding-top">
                                        <h3 class="padding text-center">Current Week</h3>
                                        <h4 class="text-center">
                                        <span>Nov 08</span>
                                            <span>
                                                <a class="button-icon ion-arrow-right-b"></a>
                                            </span>
                                            <span>Nov 15</span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col col-10">
                                    <a class="button button-icon icon ion-arrow-right-b"></a>
                                </div>
                            </div>
                            

                            <div ng-repeat="event in allEvents">
                                <div class="card">
                                    <div ng-include="'templates/dailyshift.temp.html'" ng-if="event.formattedDate!= today"></div>
                                    <div ng-include="'templates/todayshift.temp.html'" ng-if="event.formattedDate== today"></div>
                                </div>
                            </div>
                            <div class="card text-center padding-top" ng-show="!allEvents.length">
                                <h2>There is no shifts</h2>
                            </div>
                            <div class="spacer"></div>
                        </ion-content>
                    </ion-nav-view>
                </ion-tab>

                <!-- Tab 3 -->
                <ion-tab title=" Calendar" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" on-select="loadCalendarEvents()">
                    <ion-nav-view name="tab-tab2">
                        <ion-content overflow-scroll="true" padding="true" class="calendarView ">
                            <flex-calendar options="options" events="events"></flex-calendar>
                            <div class="row row-center text-center padding-vertical dvTotalHrs">
                                <div class="col col-25"><div><b class="confirmedFont">Confirmed</b></div><div>10.00 HRS</div></div>
                                <div class="col col-25"><div><b class="tentativeFont">Tentative</b></div><div>8.00 HRS</div></div>
                                <div class="col col-25"><div><b class="trainingFont">Training</b></div><div>14.00 HRS</div></div>
                                <div class="col col-25"><div><b class="voidFont">Void</b></div><div>12.00 HRS</div></div>
                            </div>

                            <div class="list padding">
                                <div ng-repeat="event in calendarEvents">
                                    <div class="item item-text-wrap text-center">
                                        <div ng-include="'templates/dailyshift.temp.html'" ng-if="event.formattedDate!= today"></div>
                                        <div ng-include="'templates/todayshift.temp.html'" ng-if="event.formattedDate== today"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="spacer"></div>
                        </ion-content>
                    </ion-nav-view>
                </ion-tab>
            </ion-tabs>
        </div>
    </ion-pane>
</ion-view>
