<!--
    when using form , structure should be
    <ion-view>
      <form>
        <div class="content"></div>
      </form>
    </ion-view>
    -->
<ion-view class="loginpage">
    <ion-header-bar class="bar-dark">
        <i class=" icon ion-wifi"></i>
        <i class=" icon ion-ios-location inactive"></i>
    </ion-header-bar>
    
    <form name="frmLogin" ng-submit="submitForm(frmLogin)" >
        <div overflow-scroll="true" padding="true" class="content has-header padding">
            <ion-list class="list padding">
                <label class="item item-input item-floating-label">
                    <span class="input-label ">User Name</span>
                    <input ng-model="name" type="email" required placeholder="User Name" name="userName" id="userName">
                    <span ng-show="frmLogin.userName.$touched  && frmLogin.userName.$invalid">
                        <span class="errorFont" ng-show="frmLogin.userName.$error.required">required</span>
                        <span class="errorFont" ng-show="frmLogin.userName.$error.email">invalid email</span>
                    </span>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label ">Password</span>
                    <input ng-model="password" type="password" required placeholder="Password" name="txtPassword" id="txtPassword">
                    <span ng-show="frmLogin.txtPassword.$touched && frmLogin.txtPassword.$invalid">
                        <span class="errorFont" ng-show="frmLogin.txtPassword.$error.required">required</span>
                    </span>
                </label>
            </ion-list>
            <!--change :-->
            <!--frmLogin.$dirty && frmLogin.$invalid-->
            <button class="button button-calm actionBlue button-block" ng-disabled="frmLogin.$invalid" type="submit">&nbsp;Login</button>
            <a href="#" class="button button-positive button-clear button-block ">
                Forget Password?
            </a>
        </div>
    </form>
</ion-view>