
    <form name="frmLogin" ng-submit="submitForm(frmLogin)" class="loginpage">

        <ion-header-bar class="bar-dark">
            <i class=" icon ion-wifi"></i>
            <i class=" icon ion-ios-location inactive"></i>
        </ion-header-bar>
        <ion-content overflow-scroll="true" padding="true" class="content has-header padding">
           {{test}} <br />
             <!--test : {{test}} <br />
            devicecordova : {{devicecordova}} <br />
            model : {{model}} <br />
            devicePlatform : {{devicePlatform}} <br />
            deviceID : {{deviceID}} <br />
            deviceVersion : {{deviceVersion}} <br />
            IMEI : {{IMEI}} <br />
            <button type="button" ng-click="testing()">ggggggggggggggg</button>-->

            <ion-list class="list listInputs padding">

                <label class="item padding">
                    <i class="icon ion-person placeholder-icon"></i>
                    <input ng-model="frmmLogin.name" type="email" required placeholder="Email" name="userName" id="userName" autocorrect="off" autocapitalize="off">
                    <span ng-show="frmLogin.userName.$touched  && frmLogin.userName.$invalid">
                        <span class="errorFont" ng-show="frmLogin.userName.$error.required">required</span>
                        <span class="errorFont" ng-show="frmLogin.userName.$error.email">invalid email</span>
                    </span>
                </label>
                <label class="item  padding">
                    <i class="icon ion-ios-locked placeholder-icon"></i>
                    <input ng-model="frmmLogin.password" type="password" minlength="6" maxlength="100" required placeholder="Password" name="txtPassword" id="txtPassword">
                    <span ng-show="frmLogin.txtPassword.$touched && frmLogin.txtPassword.$invalid">
                        <span class="errorFont" ng-show="frmLogin.txtPassword.$error.required">required</span>
                        <span class="errorFont" ng-show="frmLogin.txtPassword.$error.minlength">at least 6 characters long.</span>
                    </span>
                </label>
                <label class="item padding">
                    <i class="icon ion-compose placeholder-icon"></i>
                    <input ng-model="frmmLogin.companycode" type="text" required placeholder="Company Code" name="txtCompanyCode" id="txtCompanyCode">
                    <span ng-show="frmLogin.txtCompanyCode.$touched && frmLogin.txtCompanyCode.$invalid">
                        <span class="errorFont" ng-show="frmLogin.txtCompanyCode.$error.required">required</span>
                    </span>
                </label>
            </ion-list>
            <div class="errorFont padding-horizontal" ng-show="afterLoginError">{{afterLoginErrorTxt}}</div>
            <button class="button button-positive button-block" ng-disabled="frmLogin.$invalid" type="submit">&nbsp;Login</button>
            <a ui-sref="forget" class="button button-positive button-clear button-block ">
                Forget Password?
            </a>
            <a target="_blank" href="http://www.worktimemanager.com.au" class="button button-positive button-clear button-block ">
                <span>&nbsp;www.worktimemanager.com.au</span>
            </a>
        </ion-content>
       
    </form>
