<ion-view class="notificationsPage">
    <ion-header-bar class="bar-dark">
        <button type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <button class="button button-icon stable" ng-click="notifications()">
            <i class="icon ion-android-notifications"></i>
            <span class="badge badge-assertive">3</span>
        </button>
        <i class=" icon ion-wifi"></i>
        <i class=" icon ion-ios-location inactive"></i>
        <div class="pull-right floatRight">
            <img ng-src="images/unknown.png" class="circle" ng-click="openmyaccount()" /><span ng-click="openmyaccount()">Amir Aly</span>
            <button class="button button-icon icon ion-ios-keypad" ng-click="showSubMenu()"></button>
        </div>
    </ion-header-bar>

    <ion-content overflow-scroll="true" class="has-header has-footer">

        <div class="list listAlerts">
            <a ng-repeat="alert in allAlertsArray" class="item item-icon-left {{alert.class}}" ng-class="{{alert.ngclass}}">
                <i class="icon {{alert.icon}}"></i>
                <span class="text-left txtalert">{{alert.text}}</span>
                <span class="text-left item-note">{{alert.dateTime}}</span>
            </a>
        </div>

        <div class="card text-center padding-top" ng-show="!allAlertsArray.length">
            <h2>There is no notifications</h2>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <div class="button-bar">
            <button class="button button-clear ion-android-done-all" ng-click="markAllAsRead()">
                <span>&nbsp;Mark All as read</span>
            </button>
        </div>
    </ion-footer-bar>
   
</ion-view>