<ion-view class="notificationsPage">
    <ion-header-bar class="bar-dark">
        <button type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <i class=" icon ion-wifi"></i>
        <i class=" icon ion-ios-location inactive"></i>
        <div class="pull-right floatRight">
            <img ng-src="images/unknown.png" class="circle" ng-click="openmyaccount()" /><span ng-click="openmyaccount()">Amir Aly</span>
            <button class="button button-icon icon ion-ios-keypad" ng-click="showSubMenu()"></button>
        </div>
    </ion-header-bar>
    <div class="bar bar-subheader">
        <div class="text-left">
            <span class="h3">Notifications</span>
        </div>
        <div class="text-right">
            <button class="button button-icon stable text-left">
                <i class="icon ion-android-notifications"></i>
                <span class="badge badge-assertive">3</span>
            </button>

            <button class="button button-icon stable text-left">
                <i class="icon ion-ios-alarm"></i>
                <span class="badge badge-assertive">3</span>
            </button>

            <button class="button button-icon stable text-left">
                <i class="icon ion-wand"></i>
                <span class="badge badge-assertive">3</span>
            </button>
        </div>
    </div>
    <ion-content overflow-scroll="true" class="has-header has-footer has-subheader">
        <div class="view-container">
            <div class="list">
                <a ng-repeat="notification in allNotificationsArray" class="item item-icon-left {{notification.class}}" href="{{notification.href}}" ng-class="{{notification.ngclass}}">
                    <i class="icon ion-android-notifications"></i>
                    <span>{{notification.text}}</span>
                </a>
            </div>
            <div class="card text-center padding-top" ng-show="!allNotificationsArray.length">
                <h2>There is no notifications</h2>
            </div>
        </div>
    </ion-content>


    <ion-footer-bar class="bar-dark">
        <div class="button-bar">
            <button class="button button-clear ion-android-done-all" ng-click="markAllAsRead()">&nbsp;Mark All as read</button>
        </div>
    </ion-footer-bar>
</ion-view>