<ion-view>
    <ion-header-bar class="bar-dark">
        <button type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <i class=" icon ion-wifi"></i>
        <i class=" icon ion-ios-location inactive"></i>
        <div class="pull-right floatRight">
            <img ng-src="images/unknown.png" class="circle" ng-click="openmyaccount()" /><span ng-click="openmyaccount()">Amir Aly</span>
            <a class="button button-icon icon ion-ios-keypad" ng-click="showSubMenu()"></a>
        </div>
    </ion-header-bar>
    <ion-pane class="shiftViewPage" >
        <div class="padding text-center">
            <h3>Condell Park</h3>
        </div>
        <div class="card">
            <div class="list">
                <div class="item row row-center padding">
                    <span class="col">Date</span>
                    <span class="item-note col">Jan 15, 2016</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="list">
                <div class="item row row-center padding">
                    <span class="col">Start time</span>
                    <span class="item-note col">8:20 pm</span>
                </div>
                <div class="item row row-center padding">
                    <span class="col">End time</span>
                    <span class="item-note col">9:33 pm</span>
                </div>
                <div class="item row row-center padding">
                    <span class="col">Break (Duration)</span>
                    <span class="item-note col">0 hours,0 mins</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="list">
                <div class="item row row-center padding">
                    <span class="col">Site</span>
                    <span class="item-note col">[Sec] Security Guard</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="list">
                <div class="item row row-center padding">
                    <span class="col">Address</span>
                    <span class="item-note col-66">35 Hunter St. Condell Park , NSW 2200</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="list">
                <div class="item row row-center padding">
                    <span class="col">Notes</span>
                    <span class="item-note col"></span>
                </div>
            </div>
        </div>
    </ion-pane>
    <ion-footer-bar class="bar-dark">
        <div class="button-bar">
            <button class="button button-clear ion-ios-close-outline" ng-click="goBack()">&nbsp;Cancel</button>
            <button class="button button-clear ion-ios-stopwatch-outline" ng-click="showConfirm()">&nbsp;Clock in/out</button>
        </div>
    </ion-footer-bar>
</ion-view>
