<ion-view>
    <ion-header-bar class="bar-dark">
        <button type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <i class=" icon ion-wifi"></i>
        <i class=" icon ion-ios-location inactive"></i>
        <div class="pull-right floatRight">
            <img ng-src="images/unknown.png" class="circle" ng-click="openmyaccount()" /><span ng-click="openmyaccount()">Amir Aly</span>
            <a class="button button-icon icon ion-ios-keypad" ng-click="showSubMenu()"></a>
        </div>
    </ion-header-bar>
    <div class="bar bar-subheader">
        <div class="text-left">
            <span class="h3">Shift View</span>
        </div>
        <div class="text-right">
            <button class="button button-icon stable text-left">
                <i class="icon ion-android-notifications"></i>
                <span class="badge badge-assertive">3</span>
            </button>

            <button class="button button-icon stable text-left">
                <i class="icon ion-ios-alarm"></i>
                <span class="badge badge-assertive">3</span>
            </button>

            <button class="button button-icon stable text-left">
                <i class="icon ion-wand"></i>
                <span class="badge badge-assertive">3</span>
            </button>
        </div>
    </div>
    <ion-content class="shiftViewPage has-subheader" overflow-scroll="true" padding="true">
        <div class="padding text-center">
            <h3>Condell Park</h3>
        </div>
        <div class="card">
            <div class="list">
                <div class="item row row-center padding">
                    <span class="col">Date</span>
                    <span class="item-note col">Jan 15, 2016</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="list">
                <div class="item row row-center padding">
                    <span class="col">Start time</span>
                    <span class="item-note col">8:20 pm</span>
                </div>
                <div class="item row row-center padding">
                    <span class="col">End time</span>
                    <span class="item-note col">9:33 pm</span>
                </div>
                <div class="item row row-center padding">
                    <span class="col">Break (Duration)</span>
                    <span class="item-note col">0 hours,0 mins</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="list">
                <div class="item row row-center padding">
                    <span class="col">Site</span>
                    <span class="item-note col">[Sec] Security Guard</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="list">
                <div class="item row row-center padding">
                    <span class="col">Address</span>
                    <span class="item-note col col-66">35 Hunter St. Condell Park , NSW 2200</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="list">
                <div class="item row row-top padding">
                    <span class="col">Notes</span>
                    <textarea placeholder="Add Notes" rows="5" class="item-note col col-66"
                              ng-model="shiftNotes"
                              ng-model-options="{ updateOn: 'blur' }"
                              ng-change="updateNoes(shiftNotes)"></textarea>
                </div>
            </div>
        </div>
        <div ng-show="clockOut" ng-hide="!clockOut">
            <button class="button button-balanced button-block" ng-hide="breakOut" ng-click="takeBreak()">
                <span>&nbsp;Break Start</span>
            </button>
            <button class="button button-assertive button-block" ng-show="breakOut" ng-click="finishBreak()">
                <span>&nbsp;End Break (<span>{{minutes}} : {{seconds}}</span>)</span>
            </button>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-dark">
        <div class="button-bar">
            <button class="button button-clear ion-ios-close-outline" ng-click="goBack()">
                <span>&nbsp;Cancel</span>
            </button>
            <button class="button button-clear ion-ios-stopwatch-outline lastButton" ng-hide="clockOut" ng-click="showConfirmIn()">
                <span>&nbsp;Clock in</span>
            </button>
            <button class="button button-clear ion-ios-stopwatch-outline lastButton" ng-show="clockOut" ng-click="showConfirmOut()" ng-disabled="breakOut">
                <span>&nbsp;Clock out</span>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
