<ion-view>
    <ion-header-bar class="bar-dark">
        <button type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <i class=" icon ion-wifi"></i>
        <i class=" icon ion-ios-location inactive"></i>
        <div class="pull-right floatRight">
            <img ng-src="images/unknown.png" class="circle" ng-click="openmyaccount()" /><span ng-click="openmyaccount()">{{globalUserName}}</span>
            <button class="button button-icon icon ion-ios-keypad"></button>
        </div>
    </ion-header-bar>
    <ion-content class="submenuPage" >
        <div class="spacer"></div>
        <div class="spacer"></div>

        <div class="row row-bottom adjustMenu" ng-repeat="item in menuItems" ng-if="$index%3==0">
            <div class="col col-33 text-center padding" ng-if="$index<menuItems.length">
                <div class="padding-bottom card" ng-click="{{menuItems[$index].linkTo}}" ng-if="menuItems[$index]">
                    <button class="button button-full fontActionBlue button-icon icon light text-left {{menuItems[$index].icon}}">
                        <span ng-show="{{menuItems[$index].badge}}" class="badge badge-calm fontActionBlue">3</span>
                    </button>
                    <span class="h5 fontActionBlue">{{menuItems[$index].text}}</span>
                </div>
            </div>

            <div class="col col-33 text-center padding" ng-if="($index+1)<menuItems.length">
                <div class="padding-bottom card" ng-click="{{menuItems[$index+1].linkTo}}" ng-if="menuItems[$index+1]">
                    <button class="button button-full fontActionBlue button-icon icon light text-left {{menuItems[$index+1].icon}}">
                        <span ng-show="{{menuItems[$index+1].badge}}" class="badge badge-calm fontActionBlue">3</span>
                    </button>
                    <span class="h5 fontActionBlue">{{menuItems[$index+1].text}}</span>
                </div>
            </div>

            <div class="col col-33 text-center padding" ng-if="($index+1)<menuItems.length">
                <div class="padding-bottom card" ng-click="{{menuItems[$index+2].linkTo}}" ng-if="menuItems[$index+2]">
                    <button class="button button-full fontActionBlue button-icon icon light text-left {{menuItems[$index+2].icon}}">
                        <span ng-show="{{menuItems[$index+2].badge}}" class="badge badge-calm fontActionBlue">3</span>
                    </button>
                    <span class="h5 fontActionBlue">{{menuItems[$index+2].text}}</span>
                </div>
            </div>

        </div>

    </ion-content>

</ion-view>