<ion-header-bar class="bar-dark">
    <button type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <i class=" icon ion-wifi"></i>
    <i class=" icon ion-ios-location inactive"></i>
    <div class="pull-right floatRight">
        <img ng-src="images/unknown.png" class="circle" ng-click="openmyaccount()" /><span ng-click="openmyaccount()">Amir Aly</span>
        <button class="button button-icon icon ion-ios-keypad" ></button>
        </div>

</ion-header-bar>
<ion-content class="homePage">
    <ion-scroll direction="y">
        <div class="view-container">
           <div class="row">
               <div class="col col-50 text-center">
                   <div class="card">
                       <div class="item item-body">
                           <img class="full-image" src="images/week.png">
                       </div>
                   </div>
                   <h5>Weekly</h5>
               </div>
               <div class="col col-50 text-center" ng-click="showDailyView()">
                   <div class="card">
                       <div class="item item-body">
                           <img class="full-image" src="images/daily.png">
                       </div>
                   </div>
                   <h5>Daily</h5>
               </div>
           </div>
            <div class="row">
                <div class="col col-50 text-center" ng-click="showCalendar()">
                    <div class="card">
                        <div class="item item-body">
                            <img class="full-image" src="images/calendar.png">
                        </div>
                    </div>
                    <h5>Calendar</h5>
                </div>
                
            </div>
        </div>
    </ion-scroll>
</ion-content>

<ion-footer-bar class="bar-dark">

</ion-footer-bar>

