<ion-view>
    <ion-header-bar class="bar-dark">
        <button type="button" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <i class=" icon ion-wifi"></i>
        <i class=" icon ion-ios-location inactive"></i>
        <div class="pull-right floatRight">
            <img ng-src="images/unknown.png" class="circle" ng-click="openmyaccount()" /><span ng-click="openmyaccount()">Amir Aly</span>
            <button class="button button-icon icon ion-ios-keypad"></button>
        </div>
    </ion-header-bar>
    <ion-content class="submenuPage has-footer" overflow-scroll="true" >

        <div class="row row-bottom adjustMenu ">
            <div class="col col-33 text-center  padding" ng-repeat="item in menuItems">
                <div class="padding-bottom card" ng-click="{{item.linkTo}}">
                    <button class="button button-full fontActionBlue button-icon icon light text-left {{item.icon}}">
                        <span ng-show="{{item.badge}}" class="badge badge-calm fontActionBlue">3</span>
                    </button>
                    <span class="h5 fontActionBlue">&nbsp;{{item.text}}</span>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>