<ion-view class="notificationsPage">
    <ion-header-bar class="bar-dark">
        <button class="button button-icon stable" ng-click="back()">
            <i class="icon ion-android-notifications"></i>
            <span class="badge badge-assertive">{{notifictionsCounter}}</span>
        </button>
        <i class=" icon ion-wifi"></i>
        <i class=" icon ion-ios-location inactive"></i>
        <div class="pull-right floatRight" ng-click="openmyaccount()">
            <img ng-src="{{globalUserPhoto}}" class="circle" /><span>{{globalUserName}}</span>
        </div>
    </ion-header-bar>

    <ion-content overflow-scroll="true" class="has-header has-footer">

        <div class="list listAlerts">
            <a ng-repeat="alert in allAlertsArray" ng-click="markOneAsRead($index,'{{alert.ID}}')" id="notification{{$index}}" class="item item-icon-left {{markAll}} " ng-class="{true:'oldNotification', false:''}[alert.IsRead]">
                <i class="icon ion-alert-circled"></i>
                <span class="text-left txtalert">{{alert.NotificationBody}}</span>
                <span class="text-left item-note">{{alert.DateCreated  | date:'MMM dd, At  hh:mm'}}</span>
            </a>
        </div>

        <div class="card text-center padding-top" ng-show="!allAlertsArray.length">
            <h2>There is no notifications</h2>
        </div>
    </ion-content>


    <ion-footer-bar class="bar-dark">
        <div class="button-bar">
            <button class="button button-clear ion-android-done-all" ng-click="markAllAsRead()">
                <span>&nbsp;Mark All as read</span>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>