<ion-view>
    <ion-header-bar class="bar-dark">
        <button class="button button-icon stable" ng-click="notifications()">
            <i class="icon ion-android-notifications"></i>
            <span class="badge badge-assertive">3</span>
        </button>
        <i class=" icon ion-wifi"></i>
        <i class=" icon ion-ios-location inactive"></i>
        <div class="pull-right floatRight" ng-click="openmyaccount()">
            <img ng-src="images/unknown.png" class="circle" /><span>{{globalUserName}}</span>
        </div>
    </ion-header-bar>
    
    <ion-content class="has-header has-footer supervisorPage" overflow-scroll="true" padding="true">
        <ul class="list list-inset">
            <li class="item item-divider">
                <label class="item item-input item-select">
                    <span class="input-label">
                        <b> Location </b>
                    </span>

                    <select>
                        <option>Syndy Location 1</option>
                        <option selected>Melburn</option>
                        <option>Location 3</option>
                    </select>
                </label>
            </li>

            <li ng-repeat="emp in allemployeesArray" class="item item-checkbox">
                <div class="checkbox checkbox-dark">
                    <input type="checkbox" ng-checked="selectedAll">
                </div>
                <a class="item item-avatar item-borderless" ng-click="openmap()">
                    <img ng-src="{{emp.photo}}">
                    <h2>{{emp.name}}</h2>
                    <p>{{emp.checkInDate}}</p>
                </a>
            </li>
            <li ng-show="!allemployeesArray.length"><h3 class="text-center padding-top">No employees yet</h3></li>

        </ul>
    </ion-content>

    <ion-footer-bar class="bar-dark">
        <div class="button-bar">
            <button class="button button-clear ion-android-done-all" ng-click="checkAll()">
                <span ng-hide="selectedAll">&nbsp;Select All</span>
                <span ng-show="selectedAll">&nbsp;Deselect All</span>
            </button>
            <button class="button button-clear ion-ios-stopwatch-outline" ng-click="showPopup()">
                <span>&nbsp;Clock in/out</span>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>