<ion-view>
    <ion-header-bar class="bar-dark">
        <button class="button button-icon stable" ng-click="notifications()">
            <i class="icon ion-android-notifications"></i>
            <span class="badge badge-assertive">3</span>
        </button>
        <i class=" icon ion-wifi"></i>
        <i class=" icon ion-ios-location inactive"></i>
        <div class="pull-right floatRight">
            <img ng-src="images/unknown.png" class="circle" /><span>Amir Aly</span>
        </div>
    </ion-header-bar>
    
    <form name="frmUpdateAccount" novalidate ng-submit="updateAccount(frmUpdateAccount)">
        <ion-content class="supervisorAccountPage" overflow-scroll="true" padding="true">
            <div class="padding-horizontal row row-center">
                <div class="col card">
                    <div class="text-center">
                        <img class="circle" ng-src="images/unknown.png" />
                    </div>
                </div>
            </div>
            <div class="padding-horizontal">
                <ion-list class="list listInputs padding">
                    <label class="item  padding">
                        <i class="icon ion-person placeholder-icon"></i>
                        <input ng-model="name" type="text" required placeholder="Name" name="txtName" id="txtName">
                        <span ng-show="frmUpdateAccount.txtName.$dirty && frmUpdateAccount.txtName.$invalid">
                            <span class="errorFont" ng-show="frmUpdateAccount.txtName.$error.required">required</span>
                        </span>
                    </label>

                    <label class="item  padding">
                        <i class="icon ion-compose placeholder-icon"></i>
                        <input ng-model="employeeNO" type="text" required placeholder="Employee NO" name="txtEmployeeNO" id="txtEmployeeNO">
                        <span ng-show="frmUpdateAccount.txtEmployeeNO.$dirty && frmUpdateAccount.txtEmployeeNO.$invalid">
                            <span class="errorFont" ng-show="frmUpdateAccount.txtEmployeeNO.$error.required">required</span>
                        </span>
                    </label>

                    <label class="item  padding">
                        <i class="icon ion-iphone placeholder-icon"></i>
                        <input ng-model="mobile" type="text" required placeholder="Mobile" name="txtMobile" id="txtMobile">
                        <span ng-show="frmUpdateAccount.txtMobile.$dirty && frmUpdateAccount.txtMobile.$invalid">
                            <span class="errorFont" ng-show="frmUpdateAccount.txtMobile.$error.required">required</span>
                        </span>
                    </label>

                    <label class="item  padding">
                        <i class="icon ion-ios-email placeholder-icon"></i>
                        <input ng-model="email" type="email" required placeholder="Email" name="userName" id="userName">
                        <span ng-show="frmUpdateAccount.userName.$touched  && frmUpdateAccount.userName.$invalid">
                            <span class="errorFont" ng-show="frmUpdateAccount.userName.$error.required">required</span>
                            <span class="errorFont" ng-show="frmUpdateAccount.userName.$error.email">invalid email</span>
                        </span>
                    </label>


                </ion-list>
            </div>
            <div class="row row-center">
                <div class="col col-50 text-center">
                    <a href="#/supervisorchangepassword">Change Password</a>
                </div>
                <div class="col col-50 text-center">
                    <a href="#/login">Log out</a>
                </div>
            </div>
            <div class="spacer"></div>
        </ion-content>

        <ion-footer-bar class="bar-dark">
            <div class="button-bar">
                <button class="button button-clear ion-ios-close-outline" type="reset" ng-click="cancel()">&nbsp;Cancel</button>
                <button class="button button-clear ion-android-checkmark-circle" type="submit" ng-disabled="frmUpdateAccount.$invalid">&nbsp;Update</button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>