<div ng-click="shiftView()" ng-init="adjustData(event)">
    <div class=" shiftCard todayShiftCard">
        <div class="text-center">
            <p><span>Today</span></p>
            <div class="row row-top">
                <div class="col col-20 col-center text-center firstCoulmn">
                    <div class="row"><span class="col">{{event.dayNumber}}</span></div>
                    <span class="col">{{event.dayName}}</span>
                </div>
                <div class="col text-left secondCoulmn">
                    <div class="row">
                        <span class="col date">{{event.fromTo}}</span>
                    </div>
                    <div class="row">
                        <span class="col address">{{event.address}}</span>
                    </div>
                    <div class="row">
                        <span class="col area">{{event.area}}</span>
                    </div>
                </div>
                <div class="col col-25 text-right padding-right thirdCoulmn">
                    <div class="totalHours">{{event.duration}}</div>
                    <div class="hoursTxt">hours</div>
                    <div ng-show="attendane==true">
                        <i ng-if="event.late==false" class="icon ion-checkmark-round balanced"></i>
                        <i ng-if="event.late==true" class="icon ion-close-round assertive"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>