/*
1- general classes used in all/ most of pages
2- validation
3- menu
4- login
5-map page
6-supervisor page
7-home page
8-challenge Page
9-notifications Page
10-attendance Page
*/

/*general*/
ion-scroll[direction=y] {
    height: Calc(100vh - 44px - 44px);
}

.spacer {
    height: 40px;
}

.circle {
    border-radius: 50%;
    height: 60vw;
    width: 60vw;
}

.ion-log-out:before {
    transform: rotate(-180deg);
}

.flex {
    display: flex !important;
}

.badge {
    position: absolute !important;
    left: 16px;
    bottom: 0;
    top: initial !important;
    padding: 2px 4px;
    font-size: 12px;
}

.bar-header , .bar-footer{
    background-color:#2c3e50 !important;
    border-color:#1D2935 !important;
    background-image: linear-gradient(0deg, #1D2935, #1D2935 50%, transparent 50%);
}
.pane, .view{
    background-color: #ecf0f1 !important;
}
.actionBlue{
        background-color: #3498db !important;
    border-color: #287BB3 !important;
    color:#fff !important;
}
.fontActionBlue{
    color:#3498db !important;
}
.menu .bar-header{
    background-color: #111 !important;
}
.bar-header i {
    line-height: 2.5;
    padding-left: 10px;
}

    .bar-header i.inactive {
        color: #ccc;
    }

.bar-header .floatRight {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    display: inline-flex;
}

    .bar-header .floatRight img {
        height: auto;
        width: 36px;
    }

    .bar-header .floatRight span {
        white-space: nowrap;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        padding: 5px;
        width: 100%;
        max-width: 140px;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

.bar-footer {
    padding: 0px;
    bottom: -1px;
    height: 45px;
}

    .bar-footer .button {
        border-right: 2px solid #000 !important;
    }

        .bar-footer .button:last-child {
            border-right: none !important;
        }

    .bar-footer .floatLeft {
        text-align: left !important;
    }

/*validation*/
.errorFont {
    color: #e42112;
    font-size: 12px;
    padding-right: 44px;
}

.ng-invalid.ng-dirty, .ng-invalid.ng-touched {
    border-bottom: 1px solid #B83E2C;
}


/*menu*/
.sideMenuContent {
    background-color: #0a9ec7;
    background-color: #666;
    color: #fff;
}

    .sideMenuContent .adjustMenu,
    .submenuPage .adjustMenu {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
   .submenuPage .badge {
    position: absolute !important;
    left: auto !important;
    bottom: 0;
    top: initial !important;
    padding: 2px 4px;
    font-size: 12px;
    color:#fff !important;
}
   .submenuPage .card{
       margin:0 !important;
   }
    .sideMenuContent .h4, .sideMenuContent .h5, .sideMenuContent i {
        color: #ddd;
    }

    .sideMenuContent .button:hover {
        color: #fff;
    }

    .sideMenuContent .button-icon .icon:before, .sideMenuContent .button-icon.icon:before,
    .sideMenufooter .button-icon .icon:before, .sideMenufooter .button-icon.icon:before {
        font-size: 24px !important;
    }


/*login page*/
.loginpage .list .list {
     background-color:#f8f8f8; 
}

/*map page*/
.mapPage #map {
    width: 100%;
    height: 100vh;
}

/*supervisor page*/
.supervisorPage .item-checkbox .checkbox {
    z-index: -1;
}

    .supervisorPage .item-checkbox .checkbox input:before,
    .supervisorPage .item-checkbox .checkbox .checkbox-icon:before {
        border-color: #ddd;
    }

/*home page*/
.homePage .col p {
    font-size: 12px;
}

.dailyViewPage #map {
    width: 100%;
    height: 50vh;
}

/*challenge Page*/
.challengePage .basicColorDv {
    background-color: rgb(237,95,83);
    width: 50vw;
    height: 50vw;
}

.challengePage .firstColorDv {
    background-color: rgb(237,95,83);
    width: 18vw;
    height: 18vw;
}

.challengePage .secondColorDv {
    background-color: rgb(66,165,246);
    width: 18vw;
    height: 18vw;
}

.challengePage .thirdColorDv {
    background-color: rgb(57,156,30);
    width: 18vw;
    height: 18vw;
}

/*notifications Page*/
.notificationsPage .oldNotification {
    color: #aaa;
}

/*attendance Page*/

.attendancePage .card .item {
    background-color: #C8FFD8 !important;
}

.attendancePage .card.lateAttendance .item {
    background-color: #FFC3BD !important;
}
